numpy<1.25.0,>=1.18.5
sympy==1.13.0
scipy==1.13.1
demjson==2.2.3
pandas==2.2.2
random2==1.0.2
scikit-learn==1.5.1
matplotlib==3.9.1
lhsmdu==1.1
python-time==0.3.0
python-math==0.0.1
more-itertools==10.3.0
python-csv==0.0.13
seaborn==0.13.2
anyio==3.*
sphinx==7.3.7
myst-parser
myst-nb
sphinx-panels
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-serializinghtml==1.1.9
sphinxcontrib-qthelp==1.0.6
docutils<0.21
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-jquery==4.0
autodocs
