numpy
scipy==1.13.1
matplotlib
pandas
random2
scikit-learn
lhsmdu
opencv-python
python-time
python-math
more-itertools
python-csv
seaborn
sphinx==7.3.7
sphinx-rtd-theme
myst-parser
myst-nb
sphinx-panels
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-serializinghtml==1.1.9
sphinxcontrib-qthelp==1.0.6
docutils<0.21
sphinxcontrib-napoleon
sphinxcontrib-jquery==4.0
sympy==1.13.0
autodocs