numpy<1.25.0,>=1.18.5
scipy
pandas
random2
scikit-learn
matplotlib
lhsmdu
python-time
python-math
more-itertools
python-csv
seaborn
anyio==3.*
docutils<0.18,>=0.14
Sphinx<5.0
sphinx-math-dollar==1.2.1
sphinx-rtd-theme==1.2.1
python-sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5



